<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./karrymarket_header.css">
    <!-- <link rel="stylesheet" href="./karrymarket_header.css"> -->
    <title>Mary Market</title>
</head>
<body>

<header id="hd_top">
    <nav class="left-nav">
        <ul>
            <!-- <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <a class="nav-link" href="/admin/item/new">상품 등록</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <a class="nav-link" href="/admin/items">상품 관리</a>
            </li> -->
        </ul>
    </nav>
    <nav>
        <ul>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/members/login">LOGIN</a>
            </li>
            <!-- <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/members/logout">LOGOUT</a> -->
            </li>
            <li class="nav-item"><a class="nav-link" href="/members/new">JOIN</a></li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/orders}" sec:authorize="isAuthenticated()">ORDER</a>
                <!-- <a class="nav-link" href="/members/login" sec:authorize="isAnonymous()">ORDER</a> -->

            </li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/cart}" sec:authorize="isAuthenticated()">CART</a>
                <!-- <a class="nav-link" href="/members/login" sec:authorize="isAnonymous()">CART</a> -->
            </li>
        </ul>
    </nav>
</header>

<header class="header-bottom">
    <div class="menu-box">
        <div class="submenu">
            <img src="/img/menu.svg" alt="Submenu Icon">
        </div>
        <div class="menu">
                <span class="menu-item-box">
                    <a href="/" class="menu-item">M U P P Y  MARKET</a>
                </span>

            <span class="menu-item">머피픽</span>
            <span class="menu-item">베스트</span>
            <span class="menu-item">신상품</span>
            <span class="menu-item">브랜드</span>
            <span class="menu-item">이벤트</span>
        </div>
    </div>
    <div class="search-container">
        <div class="search-box">
            <input type="text" class="search-input">
            <div class="search-button" id="search-icon">
                <img src="/img/search.svg" alt="Search">
            </div>
        </div>
    </div>

</header>

</body>
</html>