*{margin:0; padding:0;}
li{list-style:none;}

.slide_wrapper{
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 660px;
	overflow:hidden;
}
.slides{
	position: absolute;
	left:0; top:0;	
}
.slides.animated{
	transition: 0.5s ease-out;
}
.slides li{
	width: 1920px;
	height: 610px;
	background:#ccc;
	float:left;
}

.slideText{
	/* position: absolute;  수정본에서 마지막에 알려줌 오늘 문제였던거 */
	bottom: 40.5%;
	right: 114px;
}

/* 구형컨트롤러 */
.controls{
	bottom:40.5%; /* Adjust the distance from the bottom as needed */
    right: 114px; /* Adjust the distance from the right as needed */
	position: absolute;
	text-align: right;
	/* margin-top: 50px; */
	z-index: 99999;
	color: white;
	display: flex;
}

.controls a{
	display: block;
	background: #bbb5;
    color: white;
    padding: 9px;
	padding-left: 12px;
	width: 15px;
	height: 15px;
    border-radius: 50%;
	line-height: 12px;
    font-size: 13px;
	font-weight: 600;
    text-align: center;
	cursor: pointer;
	opacity: 100%;
	text-shadow: none;
	letter-spacing: 2px;
}


/* 재생, 일시정지 */
.pauseplay {
    position: absolute;
    bottom:40.5%; /* Adjust the distance from the bottom as needed */
    right: 230px; /* Adjust the distance from the right as needed */
	display: flex;
}

.pauseplay .toggle {
	display: block;
	background-size: 30px;
    background-color: #bbb5;
    color: white;
    padding: 9px;
	padding-left: 12px;
	width: 15px;
	height: 15px;
    border-radius: 50%;
	line-height: 12px;
    font-size: 13px;
	font-weight: 600;
    text-align: center;
	cursor: pointer;
	opacity: 100%;
	text-shadow: none;
	letter-spacing: 2px;
}

/** 231022 **/
a.prev {
	background: url(https://karymarket.com/web/upload/img/prev.png);
	background-size: 33px !important;
	filter: invert(1);
	background-color: #4445 !important;
	border-radius: 50%;
	}
	
	a.next {
	background: url(https://karymarket.com/web/upload/img/next.png);
	background-size: 33px !important;
	filter: invert(1);
	background-color: #4445 !important;
	border-radius: 50%;
	}
	
	.slideText {
	padding: 3px 12px;
	}
	a.toggle {
	right: 16px;
	position: relative;
	}