*{margin:0; padding:0;}
li{list-style:none;}

.slide_wrapper{
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 660px;
	overflow:hidden;
}
.slides{
	position: absolute;
	left:0; top:0;	
}
.slides.animated{
	transition: 0.5s ease-out;
}
.slides li{
	width: 1920px;
	height: 610px;
	background:#ccc;
	float:left;
}
.slides li:not(:last-child){	
	/* margin-right: 30px; */
}
/* 구형컨트롤러 */
.controls{
	text-align: right;
	/* margin-top: 50px; */
	z-index: 99999;
	bottom: 50%;
	color: white;
}

.controls span{
	background:#333;
	color: #fff;
	padding:10px 20px;
	margin:0 10px;
}


/* 재생, 일시정지 */
.pauseplay {
    position: absolute;
    bottom:40.5%; /* Adjust the distance from the bottom as needed */
    right: 230px; /* Adjust the distance from the right as needed */
}

.pauseplay .toggle {
	padding: 1.2px 2px 0px 5.1px;
	display: block;
	background-size: 20px;
    background-color: #bbb5;
    color: white;
    padding: 9px;
	width: 15px;
	height: 15px;
    border-radius: 50%;
	
	line-height: 15px;

    font-size: 13px;
	font-weight: 600;
    text-align: center;

	cursor: pointer;
	opacity: 100%;
	text-shadow: none;
	letter-spacing: 2px;
}
.prev ,.next {
	display: block;
	size: 20px;
	background-size: 20px;
    background-color: #bbb5;
    color: white;
    padding: 9px;
	width: 15px;
	height: 15px;
    border-radius: 50%;
	
	line-height: 15px;

    font-size: 13px;
	font-weight: 600;
    text-align: center;

	cursor: pointer;
	opacity: 100%;
	text-shadow: none;
	letter-spacing: 2px;

}